:host {
  & > div {
    box-sizing: border-box;
    margin: auto;
    display: flex;
    height: 100vh;
    position: relative;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--bg);
    & > .header {
      text-decoration: none;
      background-color: var(--bg-content);
      flex-shrink: 0;
      position: relative;
      padding: 10px;
      box-shadow:
        0 0 1rem rgba(0, 0, 0, 0.1),
        0rem 1rem 1rem -1rem rgba(0, 0, 0, 0.2);
      padding-left: 90px;
      height: 90px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      box-sizing: border-box;
      & > h1 {
        font-weight: normal;
        margin-bottom: 0px;
        font-size: medium;
        word-break: break-all;
      }
      & > img {
        background-color: var(--bg_dark);
        border: 2px solid var(--text);
        width: 4rem;
        position: absolute;
        left: 10px;
        height: 4rem;
        object-fit: cover;
        border-radius: 50%;
      }
    }
    & > .chat {
      flex: 1;
      padding: 1rem;
      background: var(--bg_lighter);
      flex-shrink: 2;
      overflow-y: auto;
      .message {
        word-break: break-word;
        box-sizing: border-box;
        padding: 0.5rem 1rem;
        margin: 1rem;
        background: var(--blue);
        border-radius: 1.125rem 1.125rem 1.125rem 0;
        min-height: 2.25rem;
        width: fit-content;
        max-width: 66%;
        box-shadow:
          0 0 2rem rgba(0, 0, 0, 0.075),
          0rem 1rem 1rem -1rem rgba(0, 0, 0, 0.1);
        &[data-sender] {
          margin: 1rem 1rem 1rem auto;
          border-radius: 1.125rem 1.125rem 0 1.125rem;
          background: var(--green);
          color: white;
        }
      }
    }
    & > .input {
      box-shadow:
        0 0 1rem rgba(0, 0, 0, 0.1),
        0rem 1rem 1rem -1rem rgba(0, 0, 0, 0.2);
      justify-content: center;
      background-color: var(--bg);
      height: 100px;
      display: flex;
      align-items: center;
      padding: 0 0.5rem 0 1.5rem;
      i {
        font-size: 1.5rem;
        margin-right: 1rem;
        color: #666;
        cursor: pointer;
        &#send {
          height: 36px;
          border-radius: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          color: white;
          width: 36px;
          &.active {
            background-color: var(--green);
          }
        }
      }
      input {
        flex: 1;
        border: none;
        background-color: var(--bg-content);
        padding: 15px 10px;
        box-shadow:
          0 0 1rem rgba(0, 0, 0, 0.1),
          0rem 1rem 1rem -1rem rgba(0, 0, 0, 0.2);
        margin-right: 1rem;
        border-radius: 1.125rem;
      }
    }
  }
  * {
    &:focus {
      outline: none;
    }
  }
}
